@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

/* 01 */
#week-01:hover {
  background-color: purple;
}
#week-01 svg {
    animation: spin 10s linear infinite reverse;
}
#week-01:hover svg {
    animation-play-state: paused;
    background-color: red;
    border-radius: 25%;
    color: white;
    transition: all 0.5s ease-in-out;
}


/* 32 */
#week-32 svg {
    animation: spin 12s linear infinite;
}
#week-32:hover svg {
    animation-play-state: paused;
    background-color: blue;
    color: white;
    transition: all 0.1s ease-in-out;
}

#video3 {
    animation: spin 8s linear infinite;
}
#video3:hover {
    animation-play-state: paused;
    color: red;
    border: 1px solid red;
}